.advantages {
  border: 2px solid red;
}

.advantages__item {
  border: 2px solid green;
  display: flex;
}

.advantages__nested-list,
.advantages__nested-item {
  border: 1px dotted blue;
}

.advantages__header,
.advantages__description,
.advantages__number {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
}

.advantages__list,
.advantages__nested-list {
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}

.advantages__card {
  background-color: @card-light-gray;
  padding: 26px;
}

.advantages__card--highlighted {
  color: white;
  background-color: @button-darken-blue-hover;
}

.advantages__nested-item {
  background-repeat: no-repeat;
}

.advantages__nested-item--living {
  background-image: url(../img/icon-house.svg);
}

.advantages__nested-item--souvenirs {
  background-image: url(../img/icon-gift.svg);
}

.advantages__nested-item--food {
  background-image: url(../img/icon-burger.svg);
}
