.advantages {
  outline: 1px solid red;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__items-gray {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
}

.advantages__item {
  outline: 1px solid green;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__items-gray .advantages__item {
  @media (min-width: @tablet-width) {
    width: 30%;
  }
}

.advantages__nested-list,
.advantages__nested-item {
  outline: 1px dotted blue;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.advantages__nested-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    flex-direction: column;
    margin: 0 20px;
  }
}

.advantages__card {
  display: flex;
  flex-direction: column;
  background-color: @background-main-pale;
  text-align: center;
}

.advantages__card--highlighted {
  color: @color-main-button;
  background-color: @background-main;

  @media (min-width: @tablet-width) {
    width: 33%;
  }
}

.advantages__card--highlighted img {
  @media (min-width: @tablet-width) {
    width: 66%;
  }
}

.advantages__nested-item {
  background-color: lightyellow;
  background-repeat: no-repeat;
  padding: 0;
  width: 30%;

  @media (max-width: @mobile-width-only) {
    width: 100%;
  }
}

.advantages__nested-item--living {
  background-image: url("../img/icon-house.svg");
}

.advantages__nested-item--souvenirs {
  background-image: url("../img/icon-gift.svg");
}

.advantages__nested-item--food {
  background-image: url("../img/icon-burger.svg");
}
