
.advantages__list,
.advantages__nested-list {
list-style: none;
}


.advantages__title {
font-size: 144%;
}

.advantages__card {
  background-color:#EEEEEE;
}

.advantages__card--highlighted {
  color: @white-color;
  background-color:@card-background;
}

.advantages__nested-item {
background-repeat: no-repeat;
}

.advantages__nested-item--living {
  background-image: url(../img/icon-house.svg);
}

.advantages__nested-item--souvenirs {
  background-image: url(../img/icon-gift.svg);
}

.advantages__nested-item--food {
  background-image: url(../img/icon-burger.svg);
}
