@import "colors.less";

.copyright {
  border: 1px dotted darkorchid;
}

.copyright {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  min-width: 148px;
}
.copyright__text {
  font-size: 14px;
  font-weight: normal;
}

.copyright__link {
  &:active {
    opacity: 0.3;
  }

  // &:hover {
  //   fill: red;
  // }
}

// .copyright__logo {
//   &:hover {
//   fill: red;
// }


