.copyright {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  min-width: 148px;
  border: 1px dotted darkorchid;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
}

.copyright__link {
  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  &:hover {
    fill: @background-main;
  }
}
