.copyright {
  display: inherit;
  justify-content: space-around;
  align-items: inherit;
  font-size: 14px;
  line-height: @line-height-main;
  font-weight: @font-weight-main;
  padding-bottom: 20px;
  padding-top: 40px;

  outline: 1px dotted darkorchid;

  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}

.copyright__text {
  margin-right: 12px;
}

.copyright__link {
  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  &:hover {
    fill: @background-main;
  }
}
