.nav {
  display: flex;
  outline: 1px solid black;
  font-size: 14px;
  line-height: @line-height-main;

  @media (max-width: @mobile-width-only) {
    background-color: @background-main;
    font-size: @font-size-mobile;
    line-height: 40px;

    // min-height: 223px;
  }
}

.nav__item {
  padding-top: 10px;
  padding-bottom: 5px;

  @media (max-width: @mobile-width-only) {
    text-align: center;
    width: 100%;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    &:hover {
      background-color: @background-main-hover;
    }
    &:active {
      background-color: @background-main-active;
    }
  }
}

.nav__toggle {
  display: none;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    top: 17px;
    right: 20px;
    display: block;
    width: 23px;
    height: 22px;
    cursor: pointer;
    border: none;
    // background-color: tomato;
    // background-color: background-color: @color-main-button;
    // разъезжается с svg
  }

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.nav--closed .nav__toggle::before {
  @media (max-width: @mobile-width-only) {
    content: "";
    position: absolute;
    top: 37px;
    left: 20px;
  }
}

// .nav--opened .nav__toggle::before {
//   @media (max-width: @mobile-width-only) {
//     content: "";
//     position: absolute;
//     bottom: 17px;
//     left: 20px;

// }

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 1px solid indigo;
  font-weight: @font-weight-secondary;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.nav__list .nav__link {
  @media (max-width: @mobile-width-only) {
    position: relative;
    display: block;
    // padding-left: 100vw;
    // padding-right: 100vw;
    // Как задать на всю ширину li?
  }
}

.nav__link {
  color: @color-main;
  text-decoration: none;

  &:hover {
    color: @background-main;
  }

  &:active {
    color: @color-main;
    opacity: 0.3;
  }

  @media (max-width: @mobile-width-only) {
    color: @color-main-button;

    &:hover {
      color: @color-main-button;
    }
  }
}

.nav__link--active {
  color: @color-nav-active;

  &:hover {
    color: @color-nav-active-hover;
  }
  &:active {
    color: @color-nav-active;
    opacity: 0.3;
  }

  @media (max-width: @mobile-width-only) {
    color: @color-main-button;
    &:hover {
      color: @color-main-button;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
