.page-footer {
  border: 1px solid red;
}

.page-footer__hashtag {
  border: 1px dotted darkorchid;
}


.page-footer__hashtag {
  display: flex;
}

.page-footer__insta {
  text-decoration: none;
  font-size: 21px;
  color:@base-color;

  &:hover {
    color: #81b3d2;;
  }

  &:active {
    opacity: 0.3;
  }
}






