@import "colors.less";


.social__list {
  display: flex;
}

.social__item {
  background-color: #81b3d2;

  &:hover {
    background-color: #669EC0;
  }

  list-style: none;
}

.page-footer__social {
  display: flex;

}

.social__link {
  font-size: 0;
  text-decoration: none;
  background-repeat: no-repeat;
  width: 47px;
  height: 48px;
  display: inline-block;

  &:active {
    Opacity: 0.3;
  }
}

.social__link--twitter {
  background-image: url(../img/icon-twitter.svg);
}

.social__link--facebook {
  background-image: url(../img/icon-facebook.svg);
}

.social__link--youtube {
  background-image: url(../img/icon-youtube.svg);
}

.copyright__link {
  fill: black;
  &:active {
    opacity: 0.3;
  }

 // &:hover {
  //   fill: red;
  // }
}

// .copyright__logo {
//   &:hover {
//   fill: red;
// }}





