.page-gallery {
  border: 2px solid red;
  display: flex;
  width: 100%;
}

.page-gallery__item {
  border: 1px solid blue;
}

.page-gallery__title {
  font-size: 18px;
  line-height: 26px;
}

.page-gallery__list {
  list-style: none;
}

.page-gallery__description {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
}

// проверить шрифты
