.page {
  font-family: @font-family-main;
  font-style: @font-style-main;
  font-weight: @font-weight-main;

  font-size: 21px;
  line-height: 26px;
  // /18px для мобильной версии. Размер 18 px пока прописала в каждом блоке./
  color: @color-main;
  text-transform: uppercase;
  height: 100%;
}
