.page-header {
  position: relative;
  max-height: 283px;

  display: flex;
  flex-direction: column;
  background-color: @white;
  outline: 1px solid orangered;
  width: 100%;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-header__logo {
  text-align: center;
  order: 2;
  outline: 1px solid blueviolet;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.page-header__logo img {
  @media (min-width: @desktop-width) {
    width: 187px;
    height: 96px;
  }
}
