.page {
  font-family: @font-family-main;
  font-style: @font-style-main;
  font-weight: @font-weight-main;
  font-size: @font-size-regular;
  line-height: @line-height-main;
  text-transform: uppercase;
  margin: 0 auto;
  width: 100vw;

  @media (max-width: @mobile-width-only) {
    font-size: @font-size-mobile;
    line-height: @line-height-main;
  }

  @media (min-width: @tablet-width) {
    max-width: @desktop-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
