.page-header {
  display: flex;
  flex-direction: column;
  background-color: @white;
  outline: 1px solid orangered;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    background-color: lightcyan;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    background-color: lightpink;
  }
}

.page-header__logo {
  text-align: center;
  order: 2;
  outline: 1px solid blueviolet;

  @media (min-width: @desktop-width) {
  }
}
