.page-feedback {
  outline: 1px solid palevioletred;
  width: 100%;
}

.page-feedback__title,
.page-feedback__description {
}

.page-feedback__title {
  font-size: @font-size-mobile;
  font-weight: @font-weight-secondary;

  @media (min-width: @tablet-width) {
    // width: 768px;
    font-size: 30px;
  }
}
