.photocard {
  padding: 20px;
}

.photocard__title,
.photocard__likes-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: @font-weight-secondary;
}

.photocard__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
// проверить шрифты

.photocard__likes-icon {
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 23px;
  height: 22px;
  border: 0;
  background-color: @color-main-button;

  &:hover {
    opacity: 1;
  }
}
