.photocard {
  padding: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.photocard__likes {
  outline: 1px solid aqua;
  display: inline-flex;
}

.photocard__title,
.photocard__likes-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: @font-weight-secondary;

  @media (min-width: @desktop-width) {
    color: @color-main-button;
  }
}

.photocard__author {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;

  @media (min-width: @desktop-width) {
    color: @color-main-button;
  }
}

.photocard__likes-icon {
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 23px;
  height: 22px;
  outline: 0;
  background-color: @color-main-button;
  border: none;

  &:hover {
    opacity: 1;
  }
}

// .photocard__img-wrapper {
//   @media (min-width: @tablet-width) {
//     // padding-left: 60px;
//     // padding-right: 60px;
//     width: 50%;
//   }
// }

.photocard__description {
  @media (min-width: @tablet-width) {
    background-color: @background-pale-form;
  }

  @media (min-width: @desktop-width) {
    color: @color-main-button;
    background-color: @color-main;
    opacity: 0.3;
  }
}
