.social {
  border: 1px dotted darkorchid;
  display: flex;
}

.social__list {
  display: flex;
  justify-content: space-around;
  min-width: 156px;
  list-style: none;
  padding-left: 0;
}

.social__item {
  background-color: @button-light-blue;

  &:hover {
    background-color: @button-darken-blue-hover;
  }
}

.social__link {
  font: size 0;
  text-decoration: none;
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;

  &:active {
    opacity: 0.3;
  }
}

.social__link--twitter {
  background-image: url(../img/icon-twitter.svg);
}

.social__link--facebook {
  background-image: url(../img/icon-facebook.svg);
}

.social__link--youtube {
  background-image: url(../img/icon-youtube.svg);
}
