@deafult-font: "Open Sans", "Arial", sans-serif;

@base-color: #000000;
@base-background: #ffffff;
@card-light-gray: #eeeeee;
@card-light-blue: #81b3d2;
@button-light-blue: #81b3d2;
@button-darken-blue-hover: #669ec0;
