.video {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 18px 0 29px 0px;

  @media (min-width: @tablet-width) {
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}

.video__title {
  font-size: @font-size-mobile;
  line-height: @line-height-main;
  font-weight: @font-weight-secondary;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: @line-height-main;
  }
}

.video__description {
  line-height: 24px;
  font-size: @font-size-main-text;
  padding: 0px 20px;
  margin-bottom: 32px;
}

.video__player--window {
  width: 100%;
}

.video__wrapper {
  padding: 0 14px;
  background-color: plum;
}
.video__controls {
  display: flex;
  justify-content: space-around;
  padding: 19px 0;

  @media (max-width: @mobile-width-only) {
    background-color: @background-pale-form;
  }

  @media (min-width: @tablet-width) {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: -95px;
    height: 93px;
  }
}

.video__fullscreen,
.video__replay,
.video__subtitles {
  border: none;
  background: transparent;
  cursor: pointer;
}

.video__subtitles {
  @media (max-width: @mobile-width-only) {
    padding-left: 109px;
  }
}

.video__fullscreen {
  polygon {
    fill: #5c6870;

    @media (min-width: @tablet-width) {
      fill: @color-main-button;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.video__replay,
.video__subtitles {
  path {
    fill: #5c6870;

    @media (min-width: @tablet-width) {
      fill: @color-main-button;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

// Прописать состояния кнопок в мобильной версии. Пока не разобралась. Цвета прописаны в файле variables
