.video {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 70px;
  position: relative;

  @media (min-width: @tablet-width) {
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}

.video__title {
  font-size: @font-size-mobile;
  line-height: @line-height-main;
  font-weight: @font-weight-secondary;
  margin-top: 20px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: @line-height-main;
  }
}

.video__description {
  line-height: 24px;
  font-size: @font-size-main-text;
  padding: 0px 25px;
  margin-bottom: 32px;
}

.video__player--window {
  display: block;
  width: 100%;
}

.video__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -70px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 21px;
}

.video__controls {
  display: flex;
  justify-content: space-around;
  padding-top: 22px;
  padding-bottom: 21px;

  @media (max-width: @mobile-width-only) {
    background-color: @background-pale-form;
  }

  @media (min-width: @tablet-width) {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: -95px;
    height: 93px;
  }
}

.video__fullscreen,
.video__replay,
.video__subtitles {
  border: none;
  background: transparent;
  cursor: pointer;
}

.video__subtitles {
  @media (max-width: @mobile-width-only) {
    padding-left: 109px;
  }
}

.video__fullscreen {
  polygon {
    fill: #5c6870;

    @media (min-width: @tablet-width) {
      fill: @color-main-button;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.video__replay,
.video__subtitles {
  path {
    fill: #5c6870;

    @media (min-width: @tablet-width) {
      fill: @color-main-button;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.video__position {
  position: relative;
  padding: 21px 0;
  background-color: @color-main;
  opacity: 0.4;
}

.video__progress-bar {
  height: 3px;
  background: @color-main-button;
  margin: 0 22px;
}

.video__current-time {
  position: absolute;
  top: 18px;
  left: 57px;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
